.nav-link::after {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--clr-primary-orange);
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    border-radius: 2px;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .15s ease-in;
}

.nav-link {
    position: relative;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

.add-to-cart-btn>svg {
    fill: white;
}

.prev-btn:hover>svg,
.next-btn:hover>svg {
    stroke: var(--clr-primary-orange);
    transition: all .15s ease-in;
}

.menu-btn>svg {
    fill: var(--clr-dark-grayish-blue);
}