@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --cle-dark-grayish-blue: hsl(219, 9%, 45%);
    --cle-grayish-blue: hsl(220, 14%, 75%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}